@charset "utf-8";
/* CSS Document */

body {
	font-family:"myriad-pro",helvetica,arial,sans-serif;
	margin:0px;
	padding:0px;	
}

.ie8warn {
	padding:10px;
	width:100%;
	background-color:#f00;
	color:#fff;
	font-size:14px;
	
}

a {
	text-decoration:none;	
}

a:hover {
	text-decoration:underline;	
}

input, select {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;
	line-height:100%;	
}

h1 {font-size:22pt}
h2 {font-size:15pt}

h1.title {
	margin-top:0px;
	padding-top:0px;
	margin-bottom:5px;
	padding-bottom:5px;	
}

h2 {
	margin-top:0px;
	padding-top:0px;	
}


select#dollarPercent {
	font-size:16pt;
	font-weight:700;	
}

#wrapper {
	position:relative;
	
	max-width:525px;
	margin-left:auto;
	margin-right:auto;
	width: 525px;	
}

#map {
	width:100%;
	font-family:"myriad-pro-condensed",helvetica,arial,sans-serif;	
	position:relative;
}

#map .popup {
	position:absolute;
	display:block;
	background-color:#E1E1E1;
	font-size:16px;
	padding:5px;
	border: 1px solid #aaa;	
}

#map .popup h4 {
	margin-top:0px;
	margin-bottom:0px;	
}

#map .popup ul {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	padding-left:30px;
}

#map text {
	cursor:pointer;	
}

#notes {
	font-size:12px;	
}

div.credits {
	font-family:"myriad-pro";
	position:relative;	
}

div.credits p {
	font-size:12px;
	padding:0em;
	margin:0em;
}

#cbppCredit {
	border-top:1px solid #aaa;
	font-size:12px;	
	margin-top:5px;
	padding-top:3px;
	text-align:right;
	color:#0081a4;
	margin-right:3px;
}

.embedLink {
	color:#0081a4;
	clear:both;
	cursor:pointer;
}

.embedLink:hover {
	text-decoration:underline;
}

div.embedCode {
	display:none;	
	position:absolute;
	height:4em;
	bottom:50px;
	border:1px solid #000;
	z-index:100;
	left:0px;
	width:92%;
	max-width:525px;
	background-color:#fff;
	padding:5px;
}

div.embedCodeArea {
	font-family:"Courier New", Courier, monospace;
	position:relative;
	top:10px;
	background-color:#fff;
	font-size:12px;
	
}
